Source: ancel-search-tool
Section: x11
Priority: optional
Maintainer: Cody Garver <codygarver@gmail.com>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 7.0.50~),
               libgee-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.10),
               libnotify-dev,
               libvte-2.90-dev,
               valac (>= 0.16)
Standards-Version: 3.9.4
Homepage: https://github.com/gangsterveggies/ancel-search-tool

Package: ancel-search-tool
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: official Ancelb search tool
 The official Ancelb search tool.
